.brxe-dvly-featured-products-container {
  padding: var(--gap-2xl) var(--gap-s);
  gap: var(--gap-l);
}

.brxe-dvly-featured-products .splide {
  width: 100%;
}

.brxe-dvly-featured-products-header {
  width: 100%;
}

.brxe-dvly-featured-products-above-title {
  width: 100%;
}

.brxe-dvly-featured-products-title {
  width: 100%;
}

.brxe-dvly-featured-products-description {
  width: 100%;
  font-size: var(--font-body-l);
}

.brxe-dvly-featured-product-item {
  flex-direction: column;
  display: flex;
  gap: var(--gap-xs);
  height: 100%;
}

.brxe-dvly-featured-product-item-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-grow: 1;
}

.brxe-dvly-featured-product-add-to-cart-container {
  width: 100%;
  display: block;
}

.brxe-dvly-featured-product-add-to-cart {
  display: flex;
  flex-grow: 1;
  align-items: end;
}

.brxe-dvly-featured-product-title {
  font-size: var(--font-body-l);
}

.brxe-dvly-featured-product-item-image img {
  width: 100%;
  aspect-ratio: 4 / 3;
}

.brxe-dvly-featured-products .splide__arrow {
  -ms-flex-align: center;
  align-items: center;
  background: var(--black);
  border: 0;
  border-radius: 100px;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0.7;
  padding: 8px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  z-index: 1;
}

.brxe-dvly-featured-products .splide__arrow--prev {
  left: -0;
}

.brxe-dvly-featured-products .splide__arrow--next {
  right: -0;
}

@media (min-width: 1200px) {
  .brxe-dvly-featured-products .splide__arrow--prev {
    left: -50px;
  }

  .brxe-dvly-featured-products .splide__arrow--next {
    right: -50px;
  }
}

.brxe-dvly-featured-products .splide__arrow[disabled] {
  opacity: 0.25;
}

.splide__arrow svg {
  width: 100% !important;
  height: 100% !important;
}

.splide__arrow svg path {
  fill: var(--white);
}
