.brxe-dvly-hero {
    justify-content: center;
    background: var(--gray-900);
}

.brxe-dvly-hero .brxe-dvly-hero-content {
    padding: var(--gap-3xl) var(--gap-s);
}

.brxe-dvly-hero-title, .brxe-dvly-hero-subtitle, .brxe-dvly-hero-above-title {
    width: var(--full);
    color: var(--white);
}

.brxe-dvly-hero-above-title {
    font-size: var(--font-h6);
    margin-bottom: var(--gap-xs);
}

.brxe-dvly-hero-subtitle {
    font-size: var(--font-body-l);
}

.brxe-dvly-hero-buttons {
    display: flex;
    width: 100%;
    padding-top: var(--gap-m);
    gap: var(--gap-s);
}

.brxe-dvly-hero-buttons a {
    white-space: nowrap;
}

/*Comment*/